log/
logs/
venv/
*.pyc
tests/data/
data/
src_ss/models/cwd_ML_with_data_4_1000_*_train_0shuffleidx_0testsamplebatchidx_4nsamples_32njobs_100trees_1depth_None-1rawinput_sampling1_exacttreemethod_1maxbin_modize_par_True25removesharedornoisestags_verpak/
src_ss/models/cwd_ML_with_data_4_1_*_train_0shuffleidx_0testsamplebatchidx_4nsamples_32njobs_100trees_1depth_None-1rawinput_sampling1_exacttreemethod_1maxbin_modize_par_True25removesharedornoisestags_verpak/
